<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple message board</title>
    <style>
        div:target {
            background: #f8f99a;
        }
        h3, h5 {
            margin-top: 4px;
            margin-bottom: 4px;
        }
        h6 {
            margin-top: 2px;
            margin-bottom: 2px;
        }
    </style>
</head>
<body>
    <h1>{{ title }}</h1>
    <hr>
    <nav>
        > <a href="/">Home</a><br>
        > <a href="/add">Add new message</a>
    </nav>
    <hr>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}
</body>
</html>