{% extends 'base.html' %}

{% macro get_replies(message) %}
    {% if message.replies %}
        {% for reply in message.replies %}
        <hr>
        <div style="padding-left: 20px;" id="{{ reply.id }}">
            <h5 style="margin-top: 4px; margin-bottom: 4px;"><a href="/#{{ reply.parent_id }}">>{{ reply.title }}</a></h5>
            <h6 style="margin-top: 2px; margin-bottom: 2px;">#{{ reply.id }} {{ reply.timestamp.strftime('%Y-%m-%d %H:%M') }}{% if reply.modified %}, edited {{ reply.modified.strftime('%Y-%m-%d %H:%M') }}{% endif %} by {{ reply.user.displayname }}</h6>
            <p>{{ reply.message }}</p>
            {% if reply.replies %}
            <h6 style="margin-top: 2px; margin-bottom: 2px;">Replies:&nbsp;
                {% for r in reply.replies %}
                <a href="/#{{ r.id }}">>>{{ reply.id }}</a>&nbsp;
                {% endfor %}
            {% endif %}
            </h6>
            <p style="margin-top: 2px; margin-bottom: 4px;"><a href="/{{ reply.id }}/delete" style = "color: red;">Delete</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/{{ reply.id }}/edit">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/{{ reply.id }}/reply">Reply</a></p>
        </div>
        {{ get_replies(reply) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% block content %}
{% for message in messages %}
<div style="border: 2px; border-style: dotted; padding-left: 5px;">
    <div id="{{ message.id }}">
        <h3 style="margin-top: 4px; margin-bottom: 4px;">{{ message.title }}</h3>
        <h6 style="margin-top: 2px; margin-bottom: 2px;">#{{ message.id }} {{ message.timestamp.strftime('%Y-%m-%d %H:%M') }}{% if message.modified %}, edited {{ message.modified.strftime('%Y-%m-%d %H:%M') }}{% endif %} by {{ message.user.displayname }}</h6>
        <p>{{ message.message }}</p>
        {% if message.replies %}
        <h6 style="margin-top: 2px; margin-bottom: 2px;">Replies:&nbsp;
            {% for reply in message.replies %}
            <a href="/#{{ reply.id }}">>>{{ reply.id }}</a>&nbsp;
            {% endfor %}
        {% endif %}
        </h6>
        <p style="margin-top: 2px; margin-bottom: 4px;"><a href="/{{ message.id }}/delete" style = "color: red;">Delete</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/{{ message.id }}/edit">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/{{ message.id }}/reply">Reply</a></p>
    </div>
    {{ get_replies(message) }}
</div>
{% endfor %}
{% endblock content %}