<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <hr>
    <nav>
        <ul>
        <li><a href="/">Main</a></li>
        <li><a href="/add">Add a new contact</a></li>
        <li><a href="/recover" style="color: green;">Restore deleted contacts</a></li>
        <li></li>
        <li><a href="/delete_all" style="color: red;">Delete all contacts</a></li>
        </ul>
    </nav>
    <hr><br>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}
</body>
</html>