{% extends 'base.html' %}

{% block content %}
<p>Current register token: {{ register_token }}</p>
<div class="left">
    <h2>Users</h2>
    <hr>
    {% for user in users %}
    <div style="border: 1px; border-radius: 5px; border-style: solid; max-width: 80%; padding: 5px;">
        <label>Username: </label><input type="text" value="{{ user.username }}" disabled><a href="{{ request.path }}/user/{{ user.id }}/delete?next={{ request.path }}" style="float:right">Delete</a><br>
        <label>Display name: </label><input type="text" value="{{ user.display_name }}" disabled><br>
        <label>Superuser: </label><input type="checkbox" {% if user.superuser %} checked {% endif %} disabled><a href="{{ request.path }}/user/{{ user.id }}/superuser?next={{ request.path }}" style="float:right">Set as superuser</a><br>
        <label>Active: </label><input type="checkbox" {% if user.active %} checked {% endif %} disabled><a href="{{ request.path }}/user/{{ user.id }}/activate?next={{ request.path }}" style="float:right">Activate/ deactivate</a>
    </div><br>
    {% endfor %}
</div>
<div class="right">
    <h2>Boards</h2>
    <hr>
    <b><a href="/create?next={{ request.path }}">Create a new board</a></b>
    {% for board in boards %}
    <div style="border: 1px; border-radius: 5px; border-style: solid; max-width: 80%; padding: 5px;">
        <label>Board name: </label><input type="text" value="{{ board.name }}" disabled><a href="/{{ board.name }}/delete?next={{ request.path }}" style="float:right">Delete</a><br>
        <label>Board display name: </label><input type="text" value="{{ board.display_name }}" disabled><br>
        <label>Modified: </label><input type="text" value="{{ board.modified }}" disabled><br>
        <label>Deleted: </label><input type="text" value="{{ board.deleted }}" disabled><br>
        <label>Moderators:</label>
        {% for moderator in board.moderators %}
            {{ moderator.display_name }}&nbsp;
        {% endfor %}
        <a href="/{{ board.name }}/edit?next={{ request.path }}" style="float:right">Edit</a><br>
    </div><br>
    {% endfor %}
</div>
{% endblock content %}