{% extends 'base.html' %}

{% block side_menu %}
    {% if current_user.is_authenticated %}
        <b><a href="{{ request.path }}/create?next={{ request.path }}">Start a new thread</a></b>
    {% endif %}
{% endblock side_menu %}
{% block content %}
{% for thread in threads %}
<div style="border: 2px; border-style: dotted; padding-left: 5px;">
    <div id="{{ thread.id }}">
        <h3><a href="{{ request.path }}/{{ thread.id }}">{{ thread.title }}</a></h3>
        <h6>#{{ thread.id }} {{ thread.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}{% if thread.modified %}, edited {{ thread.modified.strftime('%Y-%m-%d %H:%M') }}{% endif %} by {{ thread.user.display_name }}</h6>
        <p>{{ thread.message | replace('\n', '<br>') | safe }}</p>
        <p style="margin-top: 2px; margin-bottom: 4px;">
            {% if current_user.get_id() == thread.user_id or current_user in thread.board.moderators or current_user.superuser %}
                <a href="{{ request.path }}/{{ thread.id }}/delete?next={{ request.path }}" style = "color: red;">Delete</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ request.path }}/{{ thread.id }}/edit?next={{ request.path }}/{{ thread.id }}">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ request.path }}/{{ thread.id }}/reply?next={{ request.path }}/{{ thread.id }}">Reply</a>
            {% elif current_user.is_authenticated %}
                <a href="{{ request.path }}/{{ thread.id }}/reply?next={{ request.path }}/{{ thread.id }}">Reply</a>
            {% endif %}
        </p>
    </div>
</div><br>
{% endfor %}
{% endblock content %}