{% extends 'base.html' %}

{% block content %}
{% if threads %}
<h3>New threads</h3><br>
{% endif %}
{% for thread in threads %}
<div style="border: 2px; border-style: dotted; padding-left: 5px;">
    <div id="{{ thread.id }}">
        <h3><a href="/{{ thread.board.name }}/{{ thread.id }}">{{ thread.title }}</a></h3>
        <h6>#{{ thread.id }} {{ thread.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}{% if thread.modified %}, edited {{ thread.modified.strftime('%Y-%m-%d %H:%M') }}{% endif %} by {{ thread.user.display_name }}</h6>
        <p>{{ thread.message }}</p>
        {% if thread.replies %}
        <h6>Replies:&nbsp;
            {% for reply in thread.replies %}
            <a href="/#{{ reply.id }}">>>{{ reply.id }}</a>&nbsp;
            {% endfor %}
        </h6>
        {% endif %}
    </div>
</div><br>
{% endfor %}
{% endblock content %}