{% extends 'base.html' %}

{% import 'thread_replies.j2' as thread_replies with context %}

{% block side_menu %}
    {% if current_user.is_authenticated %}
        <b><a href="{{ request.path }}/reply?next={{ request.path }}">Reply to thread</a></b>
    {% endif %}
{% endblock side_menu %}

{% block content %}
<div style="border: 2px; border-style: dotted; padding-left: 5px;">
    <div id="{{ thread.id }}">
        <h3>{{ thread.title }}</h3>
        <h6>#{{ thread.id }} {{ thread.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}{% if thread.modified %}, edited {{ thread.modified.strftime('%Y-%m-%d %H:%M') }}{% endif %} by {{ thread.user.display_name }}</h6>
        <p>{{ thread.message | replace('\n', '<br>') | safe }}</p>
        {% if thread.replies %}
        <h6>Replies:&nbsp;
            {% for r in thread.replies %}
            <a href="{{ request.path }}#r{{ r.id }}">>>{{ r.id }}</a>&nbsp;
            {% endfor %}
        </h6>
        {% endif %}
        <p style="margin-top: 2px; margin-bottom: 4px;">
            {% if current_user.get_id() == thread.user_id or current_user in thread.board.moderators or current_user.superuser %}
                <a href="{{ request.path }}/delete?next=/{{ thread.board.name }}" style = "color: red;">Delete</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ request.path }}/edit?next={{ request.path }}">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %}
        </p>
    </div>
    {{ thread_replies.get_replies(thread, 20) }}
</div><br>
{% endblock content %}