{% extends 'base.html' %}

{% block content %}
{% for task in tasks %}
<div style = "border:2px; border-style: solid; {% if task.completed %}color: green{% endif %}">
    <label>Task {{ task.id }},  created: {{ task.created }}{% if task.completed %}, completed: {{ task.completed }}{% endif %}</label>
    {% if task.completed %}
        <a href="/{{ task.id }}/complete">Mark not completed</a>
    {% endif %}
    {% if not task.completed %}
        <a href="/{{ task.id }}/complete">Mark as completed</a>&nbsp;&nbsp;<a href="/{{ task.id }}/edit">Edit</a>
    {% endif %}
    <p>{{ task.content }}</p>
</div>
{% endfor %}
{% endblock content %}